{% include 'common/index-header.html' %}

{% include 'common/left_nav.html' %}

<section class="alert">
    <div>{{ add }}</div>
</section>

<section class="alert">
    <form action="/new_vm/" method="get">
        <button class="btn btn-success">新建VM服务器</button>
    </form>
</section>
<section class="content">
    <section class="widget">
        <header>
            <span class="icon">&#128196;</span>
            <hgroup>
                <h1>VM服务器列表</h1>
            </hgroup>
        </header>
        <div class="content" id="body">
            <script>
                  var page = getQueryString('p');
                  ajaxRequest("vm",'ajax_vm','get',{"p":page},true);

            </script>
        </div>
    </section>
</section>


<form action="/new_vm/" method="post"> {% csrf_token %}
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">编辑VM服务器</h1>
                </div>
                <input id="id" name="id" type="hidden" value="">
                <input id="editor" name="editor" type="hidden" value="1">
                <input id="editor_current_page" name="editor_current_page" type="hidden">
                <div class="content">
                    <div class="field-wrap">
                        主机名称:<input id="hostname" name="hostname" type="text" value="host name"/>
                    </div>
                    <div class="field-wrap">
                        管理IP:<input id="manage_ip" name="manage_ip" type="text" value="manager IP"/>
                    </div>
                    <div class="field-wrap">
                        其它IP:<input id="other_ip" name="other_ip" type="text" value="other IP"/>
                    </div>
                    <div class="field-wrap">
                        应用名称:<input id="app_name" name="app_name" type="text" value="application name"/>
                    </div>
                    <div class="field-wrap">
                        系统版本:<input id="system_version" name="system_version" type="text" value="os system version"/>
                    </div>
                    <div class="field-wrap">
                        监控模版:<input id="zabbix_template" name="zabbix_template" type="text" value="monitor template"/>
                    </div>

                    <div class="field-wrap">
                        {# 所属组:<input id="owner_group" name="owner_group" type="text" value="server owner group"/>#}
                        所属组:<select class="selectpicker" id="owner_group" name="owner_group">

                    </select>
                    </div>
                    <div class="field-wrap">
                        cpu:<input id="cpu" name="cpu" type="text" value="server cpu"/>
                    </div>
                    <div class="field-wrap">
                        memory:<input id="mem" name="mem" type="text" value="server memory"/>
                    </div>
                    <div class="field-wrap">
                        disk:<input id="disk" name="disk" type="text" value="disk"/>
                    </div>
                    <div class="field-wrap">
                        宿主机:<input id="hypervisor_host" name="hypervisor_host" type="text" value="hypervisor host"/>
                    </div>
                    <div class="field-wrap">
                        变更内容:<input id="change_dev_info" name="change_dev_info" type="text" value="server change des"/>
                    </div>
                    <div class="field-wrap">
                        变更人:<input id="change_people" name="change_people" type="text" value="server changer"/>
                    </div>
                    <div class="field-wrap">
                        描述:<input id="description" name="description" type="text" value="des"/>
                    </div>
                    <div class="field-wrap">
                        服务器状态:<select name="status">
                        <option value="1">开启并使用</option>
                        <option value="0">开启未使用</option>
                        <option value="2">停机</option>
                    </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit">更改</button>
                        <button class="btn btn-danger" data-dismiss="modal" type="submit">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModalView" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="submit">关闭</button>
            </div>
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">查看VM服务器详细</h1>
            </div>

            <div class="content">
                <div class="field-wrap">
                    主机名称:<input id="view_hostname" name="hostname" type="text" value="host name"/>
                </div>
                <div class="field-wrap">
                    管理IP:<input id="view_manage_ip" name="manage_ip" type="text" value="manager IP"/>
                </div>
                <div class="field-wrap">
                    其它IP:<input id="view_other_ip" name="other_ip" type="text" value="other IP"/>
                </div>
                <div class="field-wrap">
                    应用名称:<input id="view_app_name" name="app_name" type="text" value="application name"/>
                </div>
                <div class="field-wrap">
                    系统版本:<input id="view_system_version" name="system_version" type="text" value="os system version"/>
                </div>
                <div class="field-wrap">
                    监控模版:<input id="view_zabbix_template" name="zabbix_template" type="text" value="monitor template"/>
                </div>

                <div class="field-wrap">
                    {# 所属组:<input id="view_owner_group" name="owner_group" type="text" value="server owner group"/>#}
                    所属组:<select class="selectpicker" id="view_owner_group" name="owner_group">

                </select>
                </div>
                {#
                <div class="field-wrap">#}
                    {# 服务器类型:<input id="view_server_type" name="server_type" type="text" value="server type"/>#}
                    {#
                </div>
                #}
                <div class="field-wrap">
                    cpu:<input id="view_cpu" name="cpu" type="text" value="server cpu"/>
                </div>
                <div class="field-wrap">
                    memory:<input id="view_mem" name="mem" type="text" value="server memory"/>
                </div>
                <div class="field-wrap">
                    disk:<input id="view_disk" name="disk" type="text" value="disk"/>
                </div>
                <div class="field-wrap">
                    宿主机:<input id="vm_hypervisor_host" name="hypervisor_host" type="text" value="hypervisor_host"/>
                </div>
                <div class="field-wrap">
                    变更日期:<input id="view_change_time" name="change_time" type="text" value="service change time"/>
                </div>
                <div class="field-wrap">
                    变更内容:<input id="view_change_dev_info" name="change_dev_info" type="text" value="server change des"/>
                </div>
                <div class="field-wrap">
                    变更人:<input id="view_change_people" name="change_people" type="text" value="server changer"/>
                </div>
                <div class="field-wrap">
                    描述:<input id="view_description" name="description" type="text" value="des"/>
                </div>
                <div class="field-wrap">
                    服务器状态:<select id="view_status" name="status">
                    <option value="1">开启并使用</option>
                    <option value="0">开启未使用</option>
                    <option value="2">停机</option>
                </select>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModalDel" role="dialog"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel"><strong>确定删除当前服务器信息?</strong></h1>
                </div>
                <input id="delete_id" name="delete_id" type="hidden">
                <input id="delete_current_page" name="delete_current_page" type="hidden">

                <div class="modal-footer">
                    <button class="btn btn-success btn-delete" type="submit">删除</button>
                    <button class="btn btn-danger" data-dismiss="modal" type="submit">取消</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'common/footer.html' %}

    <script type="text/javascript">

    $(".btn-danger.delete").click(function () {
        var rack_id = $(this).data("deleteid");
        var delete_page = $(this).data("page");
        $("#delete_id").val(rack_id);
        $("#delete_current_page").val(delete_page);
    });

    $(".btn-success.btn-delete").click(function () {
        $("#myModalDel").attr('aria-hidden', true);
        var id1 = $("#delete_id").val();
        var current_page = $("#delete_current_page").val();
        $.ajax({
            type: "get",
            url: "/deleteVmById/?id=" + id1+"&p=" + current_page,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {
                alert(data['ret']);
                window.location.reload();
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });


    //////////////////////rack editor function start
    $(".btn-success.editor").click(function () {
        ///alert("editor");
        var id = $(this).data("id");
        var curr_page = $(this).data("page");
        $("#editor_current_page").val(curr_page);
        $.ajax({
            type: "get",
            url: "/getVmById/?id=" + id,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {

                var result = data['result'];
                var idc = data['idc'];
                var room = data['room'];
                var server_group = data['owner_group'];
                for (var key in result) {
                    $("#" + key).val(result[key]);

                    if (key == 'rack_number') {
                        var rack_number_html = '';
                        for (var k in idc) {
                            selected_html_1 = "";
                            if (idc[k]['id'] == result[key]) {
                                selected_html_1 = " selected ";
                            }
                            rack_number_html += "<option value='" + idc[k]['id'] + "' " + selected_html_1 + ">" + idc[k]['idc_name'] + "</option>";
                        }
                        $("#rack_number").html(rack_number_html)
                    }
                    if (key == 'owner_group') {
                        var ower_group_html = '';
                        //alert(server_group);
                        for (var k_3 in server_group) {
                            selected_html_3 = "";
                            if (server_group[k_3]['id'] == result[key]) {
                                selected_html_3 = " selected ";
                            }
                            ower_group_html += "<option value='" + server_group[k_3]['id'] + "' " + selected_html_3 + ">" + server_group[k_3]['name'] + "</option>";
                        }
                        $("#owner_group").html(ower_group_html)
                    }//ower_group
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });

    //////////////////////server info list function start
    $(".btn-warning.view").click(function () {
        var id = $(this).data("view");
        $.ajax({
            type: "get",
            url: "/getVmById/?id=" + id,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {

                var result = data['result'];
                var idc = data['idc'];
                var room = data['room'];
                var server_group = data['owner_group'];
                for (var key in result) {
                    $("#view_" + key).val(result[key]);
                     if (key  == 'change_time')
                    {
                        var timestamp3 = result[key];
                        var newDate = new Date();
                        newDate.setTime(timestamp3 * 1000);
                        var new_time = newDate.format('yyyy-MM-dd h:m:s');
                        $("#view_" + key).val(new_time);
                        //alert("change_time"+new_time);
                    }

                    if (key == 'idc_name') {
                        var idc_name_html = '';
                        for (var k in room) {
                            selected_html = "";
                            if (room[k]['id'] == result[key]) {
                                selected_html = " selected ";
                            }
                            idc_name_html += "<option value='" + room[k]['id'] + "' " + selected_html + ">" + room[k]['room_name'] + "</option>";
                        }
                        $("#view_idc_name").html(idc_name_html)
                    }//rack_number
                    if (key == 'rack_number') {
                        var rack_number_html = '';
                        for (var k in idc) {
                            selected_html_1 = "";
                            if (idc[k]['id'] == result[key]) {
                                selected_html_1 = " selected ";
                            }
                            rack_number_html += "<option value='" + idc[k]['id'] + "' " + selected_html_1 + ">" + idc[k]['idc_name'] + "</option>";
                        }
                        $("#view_rack_number").html(rack_number_html)
                    }
                    if (key == 'owner_group') {
                        var ower_group_html = '';
                        for (var k_3 in server_group) {
                            selected_html_3 = "";
                            if (server_group[k_3]['id'] == result[key]) {
                                selected_html_3 = " selected ";
                            }
                            ower_group_html += "<option value='" + server_group[k_3]['id'] + "' " + selected_html_3 + ">" + server_group[k_3]['name'] + "</option>";
                        }
                        $("#view_owner_group").html(ower_group_html)
                    }//ower_group
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });


    </script>


    {% include 'common/footer.html' %}