{% include 'common/index-header.html' %}

{% include 'common/left_nav.html' %}

<section class="alert">
    <div>{{ add }}</div>
</section>

<section class="alert">
    <form action="/new_room/" method="get">
        <button class="green">新建机房</button>
    </form>
</section>
<section class="content">
    <section class="widget">
        <header>
            <span class="icon">&#128196;</span>
            <hgroup>
                <h1>机房列表</h1>
                <h2>CMS content Room list</h2>
            </hgroup>
        </header>
        <div class="content" id="body">
            <script>
                  var page = getQueryString('p');
                  ajaxRequest("room_list",'ajaxroomlist','get',{"p":page});

            </script>
        </div>
    </section>
</section>


<form action="/new_room/" method="post"> {% csrf_token %}
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">编辑机房</h1>
                </div>
                <input id="id" name="id" type="hidden" value="">
                <input id="editor" name="editor" type="hidden" value="1">
                <input id="editor_current_page" name="editor_current_page" type="hidden">
                <div class="field-wrap">
                    机房名称:<input id="room_name" id="room_name" name="room_name" type="text" value="host name"/>
                </div>
                <div class="field-wrap">
                    机房位置:<input id="room_addr" name="room_addr" type="text" value="room_addr"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">更改</button>
                    <button class="btn btn-danger" data-dismiss="modal" type="submit">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModalDel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel"><strong>确定删除编辑机柜?</strong></h1>
            </div>
            <input id="delete_id" name="delete_id" type="hidden">
            <input id="delete_current_page" name="delete_current_page" type="hidden">

            <div class="modal-footer">
                <button class="btn btn-success btn-delete" type="submit">删除</button>
                <button class="btn btn-danger" data-dismiss="modal" type="submit">取消</button>
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}

<script type="text/javascript">

    $(".btn-danger.delete").click(function () {
        var rack_id = $(this).data("deleteid");
        var delete_page = $(this).data("page");
        $("#delete_id").val(rack_id);
        $("#delete_current_page").val(delete_page);
    });

    $(".btn-success.btn-delete").click(function () {
        $("#myModalDel").attr('aria-hidden', true);
        var id1 = $("#delete_id").val();
        var current_page = $("#delete_current_page").val();
        $.ajax({
            type: "get",
            url: "/deleteRoomById/?id=" + id1+"&p=" + current_page,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {
                alert(data['ret']);
                window.location.reload();
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });


    //////////////////////rack editor function start
    $(".btn-success.editor").click(function () {
        //alert("editor");
        var id = $(this).data("id");
        var curr_page = $(this).data("page");
        $("#editor_current_page").val(curr_page)
        $.ajax({
            type: "get",
            url: "/getRoomById/?id=" + id,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {

                var result = data['result'];
                for (var key in result)
                {
                    $("#" + key).val(result[key]);
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });

</script>
{% include 'common/footer.html' %}