{% load staticfiles %}
<!-- 新 Bootstrap 核心 CSS 文件 -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{% static 'js/extendPagination.js' %}"></script>
<script src="{% static 'js/jquery.wysiwyg.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/cycle.js' %}"></script>
<script src="{% static 'js/jquery.checkbox.min.js' %}"></script>
<script src="{% static 'js/flot.js' %}"></script>
<script src="{% static 'js/flot.resize.js' %}"></script>
<script src="{% static 'js/flot-time.js' %}"></script>
<script src="{% static 'js/flot-pie.js' %}"></script>
<script src="{% static 'js/flot-graphs.js' %}"></script>
<script src="{% static 'js/cycle.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'js/server_down.js' %}"></script>
<script src="{% static 'js/server_top.js' %}"></script>
<script src="{% static 'jedate/jedate.js' %}"></script>
</body>
</html>