<nav>
	<ul>
		<li class="section"><a href="/index/">仪表盘</a></li>

                <li>
			<a href="#">机柜分布图</a>
			<ul class="submenu">
				<li><a href="/rack_jgt/">分布图</a></li>
			</ul>
		</li>
		<li>
			<a href="#">配置项</a>
			<ul class="submenu">
                                <li><a href="/room_list/">数据中心管理</a></li>
                                <li><a href="/service_provider/">托管服务商管理</a></li>
				<li><a href="/rack_list/">机柜管理</a></li>
				<li><a href="/network_config/">网络设备管理</a></li>
				<li><a href="/server/">服务器管理</a></li>
				<li><a href="/vm/">虚拟机管理</a></li>
			</ul>
		</li>
		<li><a href="/users/">用户</a></li>
	</ul>
</nav>
