<nav>
	<ul>
		<li class="section"><a href="/index/">仪表盘</a></li>

{#        <li>#}
{#			<a href="#">机房管理</a>#}
{#			<ul class="submenu">#}
{#				<li><a href="/room_list/">列表</a></li>#}
{#			</ul>#}
{#		</li>#}
{##}
{#        <li>#}
{#			<a href="#">托管商</a>#}
{#			<ul class="submenu">#}
{#				<li><a href="/service_provider/">列表</a></li>#}
{#			</ul>#}
{#		</li>#}

        <li>
			<a href="#">机柜分布图</a>
			<ul class="submenu">
				<li><a href="/rack_jgt/">分布图</a></li>
			</ul>
		</li>
		<li>
			<a href="#">配置项</a>
			<ul class="submenu">
                <li><a href="/room_list/">机房</a></li>
                <li><a href="/service_provider/">托管</a></li>
				<li><a href="/rack_list/">机柜</a></li>
				<li><a href="/network_config/">设备</a></li>
			</ul>
		</li>
		<li>
			<a href="#">服务器</a>
			<ul class="submenu">
				<li><a href="/server/">服务器</a></li>
				<li><a href="/vm/">虚拟机</a></li>
			</ul>
		</li>
{#		<li><a href="/statistics/"> 资产统计</a></li>#}
		<li><a href="/users/">用户</a></li>
	</ul>
</nav>