<style>
    .submenu1 {
        display: none;
        z-index: 500;
        top: 0;
        background: #313131;
    }

    .submenu2 {
        display: none;
        z-index: 500;
        top: 0;
        background: #313131;
    }

    .menu3
    {
      display: block;
        font-size: 20px;
        background: #208ed3;
    }


</style>

<nav>
    <ul>
        <li><a class="open menu3" href="/index/">仪表盘</a></li>
        <li>
            <a class="open menu1" data-id="submenu1" data-id-value="0" href="#">机柜分布图</a>
            <ul class="submenu1" id="submenu1">
                <li><a href="/rack_jgt/">分布图</a></li>
            </ul>
        </li>
        <li>
            <a class="open menu2" data-id="submenu2" data-id-value="0" href="#">配置项</a>
            <ul class="submenu2" id="submenu2">
                <li><a href="/room_list/">数据中心管理</a></li>
                <li><a href="/service_provider/">托管服务商管理</a></li>
                <li><a href="/rack_list/">机柜管理</a></li>
                <li><a href="/network_config/">网络设备管理</a></li>
                <li><a href="/server/">服务器管理</a></li>
                <li><a href="/vm/">虚拟机管理</a></li>
            </ul>
        </li>
        <li><a href="/users/">用户</a></li>
    </ul>
</nav>
<script>

    var menu = "{{ menu }}";
    if (!menu) {
          menu = "submenu2";
    }
    if (menu == 'submenu1') {
        $("#submenu2").css("display", "none");
        $(".submenu1").css("display", "block");
        $(".menu1").css("font-size", "20px");
        $(".menu1").css("background", "#208ed3");
        $(".menu1").css("width", "100%");
    }
    else {
        //alert("submenu2");
        $("#submenu1").css("display", "none");
        $(".submenu2").css("display", "block");
        $(".menu2").css("font-size", "20px");
        $(".menu2").css("background", "#208ed3");
        $(".menu2").css("width", "100%");
    }



    $(".open").click(function () {

        var id = $(this).attr('data-id');
        var value = $(this).attr('data-id-value');

        var dis = "";
        //alert("data-id="+id);

        if (value == 0) {
            dis = "block";
            $(this).attr('data-id-value', 1);
            $(this).css("font-size", "20px");
            $(this).css("background", "#208ed3");
            $(this).css("width", "100%");
        }
        else {
            dis = "none";
            $(this).attr('data-id-value', 0);
            $(this).css("font-size", "16px");
            $(this).css("color", "#cccccc");
            //$(this).removeClass("section");
        }
        $("#" + id).css("display", dis);
    });

</script>