{% include 'common/index-header.html' %}

{% include 'common/left_nav.html' %}

<section class="alert">
    <div>{{ add }}</div>
</section>

<section class="alert">
    <form action="/new_server/" method="get">
        <button class="btn btn-success">新建服务器</button>
    </form>
</section>
<section class="content">
    <section class="widget">
        <header>
            <span class="icon">&#128196;</span>
            <hgroup>
                <h1>服务器列表</h1>
            </hgroup>
        </header>
        <div class="content" id="body">
            <script>
                  var page = getQueryString('p');
                  ajaxRequest("server",'ajaxserver','get',{"p":page},true);

            </script>
        </div>
    </section>
</section>
<form action="/new_server/" method="post"> {% csrf_token %}
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">编辑服务器</h1>
                </div>
                <input id="id" name="id" type="hidden" value="">
                <input id="editor" name="editor" type="hidden" value="1">
                <input id="editor_current_page" name="editor_current_page" type="hidden">
                <div class="content">
                    <div class="field-wrap">
                        主机名称:<input id="hostname" name="hostname" type="text" value="host name"/>
                    </div>
                    <div class="field-wrap">
                        管理IP:<input id="manage_ip" name="manage_ip" type="text" value="manager IP"/>
                    </div>
                    <div class="field-wrap">
                        其它IP:<input id="other_ip" name="other_ip" type="text" value="other IP"/>
                    </div>
                    <div class="field-wrap">
                        应用名称:<input id="app_name" name="app_name" type="text" value="application name"/>
                    </div>
                    <div class="field-wrap">
                        系统版本:<input id="system_version" name="system_version" type="text" value="os system version"/>
                    </div>
                    <div class="field-wrap">
                        监控模版:<input id="zabbix_template" name="zabbix_template" type="text" value="monitor template"/>
                    </div>

                    <div class="field-wrap">
                        {# 所属组:<input id="owner_group" name="owner_group" type="text" value="server owner group"/>#}
                        所属组:<select class="selectpicker" id="owner_group" name="owner_group">

                    </select>
                    </div>
                    <div class="field-wrap">
                        {# 服务器类型:<input id="server_type" name="server_type" type="text" value="server type"/>#}
                        服务器类型:<select class="selectpicker" id="server_type" name="server_type">

                    </select>
                    </div>
                    <div class="field-wrap">
                        cpu:<input id="cpu" name="cpu" type="text" value="server cpu"/>
                    </div>
                    <div class="field-wrap">
                        memory:<input id="mem" name="mem" type="text" value="server memory"/>
                    </div>
                    <div class="field-wrap">
                        disk:<input id="disk" name="disk" type="text" value="disk"/>
                    </div>
                    <div class="field-wrap">
                        sn:<input id="sn" name="sn" type="text" value="server sn code"/>
                    </div>
                    <div class="field-wrap">
                        an:<input id="an" name="an" type="text" value="server an code"/>
                    </div>
                    <div class="field-wrap">
                        cpu型号:<input id="units" name="units" type="text" value="server units"/>
                    </div>
                    <div class="field-wrap">

                        所在机房:
                        <select class="selectpicker" id="idc_name" name="idc_name">

                        </select>
                    </div>
                    <div class="field-wrap">

                        所在机柜:<select class="selectpicker" id="rack_number" name="rack_number">

                    </select>
                    </div>
                </div>
                <div class="field-wrap">
                    机柜编号:<input id="rack_units" name="rack_units" type="text" value="server rack units"/>
                </div>
                <div class="field-wrap">
                    服务器购买日期:
                    <input id="create_date" name="create_date" onClick="jeDate({dateCell:'#create_date',isTime:true,format:'YYYY-MM-DD hh:mm:ss',zIndex:2099})" readonly type="text"
                           value="server buy date time"/>
                </div>
                <div class="field-wrap">
                    服务器过保日期:
                    <input id="end_date" name="end_date" onClick="jeDate({dateCell:'#end_date',isTime:true,format:'YYYY-MM-DD hh:mm:ss',zIndex:2099})" readonly type="text"
                           value="server expire time"/>
                </div>
                <div class="field-wrap">
                    网络设备:<select id="switch_name" name="switch_name">

                </select>
                    {# 网络设备:<input id="switch_name" name="switch_name" type="text" value="network device name"/>#}
                </div>
                <div class="field-wrap">
                    设备端口:<input id="switch_port" name="switch_port" type="text" value="network device port"/>
                </div>
                {#
                <div class="field-wrap">#}
                    {# 变更日期:<input name="change_time" type="text" value="service change time"/>#}
                    {#
                </div>
                #}
                <div class="field-wrap">
                    变更内容:<input id="change_dev_info" name="change_dev_info" type="text" value="server change des"/>
                </div>
                <div class="field-wrap">
                    变更人:<input id="change_people" name="change_people" type="text" value="server changer"/>
                </div>
                <div class="field-wrap">
                    描述:<input id="description" name="description" type="text" value="des"/>
                </div>
                <div class="field-wrap">
                    服务器状态:<select name="status">
                    <option value="1">开启并使用</option>
                    <option value="0">开启未使用</option>
                    <option value="2">停机</option>
                </select>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">更改</button>
                    <button class="btn btn-danger" data-dismiss="modal" type="submit">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModalView" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="submit">关闭</button>
            </div>
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">查看服务器详细信息</h1>
            </div>

            <div class="content">
                <div class="field-wrap">
                    主机名称:<input id="view_hostname" name="hostname" type="text" value="host name"/>
                </div>
                <div class="field-wrap">
                    管理IP:<input id="view_manage_ip" name="manage_ip" type="text" value="manager IP"/>
                </div>
                <div class="field-wrap">
                    其它IP:<input id="view_other_ip" name="other_ip" type="text" value="other IP"/>
                </div>
                <div class="field-wrap">
                    应用名称:<input id="view_app_name" name="app_name" type="text" value="application name"/>
                </div>
                <div class="field-wrap">
                    系统版本:<input id="view_system_version" name="system_version" type="text" value="os system version"/>
                </div>
                <div class="field-wrap">
                    监控模版:<input id="view_zabbix_template" name="zabbix_template" type="text" value="monitor template"/>
                </div>

                <div class="field-wrap">
                    {# 所属组:<input id="view_owner_group" name="owner_group" type="text" value="server owner group"/>#}
                    <select class="selectpicker" id="view_owner_group" name="owner_group">

                    </select>
                </div>
                <div class="field-wrap">
                    {# 服务器类型:<input id="view_server_type" name="server_type" type="text" value="server type"/>#}
                    服务器类型:<select class="selectpicker" id="view_server_type" name="server_type">

                </select>
                </div>
                <div class="field-wrap">
                    cpu:<input id="view_cpu" name="cpu" type="text" value="server cpu"/>
                </div>
                <div class="field-wrap">
                    memory:<input id="view_mem" name="mem" type="text" value="server memory"/>
                </div>
                <div class="field-wrap">
                    disk:<input id="view_disk" name="disk" type="text" value="disk"/>
                </div>
                <div class="field-wrap">
                    sn:<input id="view_sn" name="sn" type="text" value="server sn code"/>
                </div>
                <div class="field-wrap">
                    an:<input id="view_an" name="an" type="text" value="server an code"/>
                </div>
                <div class="field-wrap">
                    cpu型号:<input id="view_units" name="units" type="text" value="cpu units"/>
                </div>
                <div class="field-wrap">

                    所在机房:
                    <select class="selectpicker" id="view_idc_name" name="idc_name">

                    </select>
                </div>
                <div class="field-wrap">

                    所在机柜:<select class="selectpicker" id="view_rack_number" name="rack_number">

                </select>
                </div>
            </div>
            <div class="field-wrap">
                机柜编号:<input id="rack_units" name="rack_units" type="text" value="server rack units"/>
            </div>
            <div class="field-wrap">
                服务器购买日期:
                <input id="view_create_date" name="create_date" readonly type="text" value="server buy date time"/>
            </div>
            <div class="field-wrap">
                服务器过保日期:
                <input id="view_end_date" name="end_date" readonly type="text" value="server expire time"/>
            </div>
            <div class="field-wrap">

                网络设备:
                <select id="view_switch_name" name="view_switch_name">

                </select>
                {# <input id="view_switch_name" name="switch_name" type="text" value="network device name"/>#}
            </div>
            <div class="field-wrap">
                设备端口:<input id="view_switch_port" name="switch_port" type="text" value="network device port"/>
            </div>
            <div class="field-wrap">
                变更日期:<input id="view_change_time" name="change_time" type="text" value="service change time"/>
            </div>
            <div class="field-wrap">
                变更内容:<input id="view_change_dev_info" name="change_dev_info" type="text" value="server change des"/>
            </div>
            <div class="field-wrap">
                变更人:<input id="view_change_people" name="change_people" type="text" value="server changer"/>
            </div>
            <div class="field-wrap">
                描述:<input id="view_description" name="description" type="text" value="des"/>
            </div>
            <div class="field-wrap">
                服务器状态:<select id="view_status" name="status">
                <option value="1">开启并使用</option>
                <option value="0">开启未使用</option>
                <option value="2">停机</option>
            </select>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModalDel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel"><strong>确定删除当前服务器信息?</strong></h1>
            </div>
            <input id="delete_id" name="delete_id" type="hidden">
            <input id="delete_current_page" name="delete_current_page" type="hidden">

            <div class="modal-footer">
                <button class="btn btn-success btn-delete" type="submit">删除</button>
                <button class="btn btn-danger" data-dismiss="modal" type="submit">取消</button>
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}

<script type="text/javascript">

    $(".btn-danger.delete").click(function () {
        var rack_id = $(this).data("deleteid");
        var delete_page = $(this).data("page");
        $("#delete_id").val(rack_id);
        $("#delete_current_page").val(delete_page);
    });

    $(".btn-success.btn-delete").click(function () {
        $("#myModalDel").attr('aria-hidden', true);
        var id1 = $("#delete_id").val();
        var current_page = $("#delete_current_page").val();
        $.ajax({
            type: "get",
            url: "/deleteServerById/?id=" + id1+"&p=" + current_page,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {
                alert(data['ret']);
                window.location.reload();
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });


    //////////////////////rack editor function start
    $(".btn-success.editor").click(function () {
        //alert("editor");
        var id = $(this).data("id");
        var curr_page = $(this).data("page");

        //alert("id="+id+",curr_page="+curr_page);
        $("#editor_current_page").val(curr_page);
        $.ajax({
            type: "get",
            url: "/getServerById/?id=" + id,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {

                var result = data['result'];
                var idc = data['idc'];
                var room = data['room'];
                var server_group = data['owner_group'];
                var server_type = data['server_type'];
                var network = data['network'];
                for (var key in result) {

                    $("#" + key).val(result[key]);
                    if (key == 'switch_name') {
                        var network_name_html = '';
                        for (var k_1 in network) {
                            network_selected_html = "";
                            if (network[k_1]['id'] == result[key]) {
                                network_selected_html = " selected ";
                            }
                            network_name_html += "<option value='" + network[k_1]['id'] + "' " + network_selected_html + ">" + network[k_1]['device_name'] + "</option>";
                        }
                        $("#switch_name").html(network_name_html)
                    }//switch_name

                    if (key == 'idc_name') {
                        var idc_name_html = '';
                        for (var k in room) {
                            selected_html = "";
                            if (room[k]['id'] == result[key]) {
                                selected_html = " selected ";
                            }
                            idc_name_html += "<option value='" + room[k]['id'] + "' " + selected_html + ">" + room[k]['room_name'] + "</option>";
                        }
                        $("#idc_name").html(idc_name_html)
                    }//rack_number
                    if (key == 'rack_number') {
                        var rack_number_html = '';
                        for (var k_2 in idc) {
                            selected_html_1 = "";
                            if (idc[k_2]['id'] == result[key]) {
                                selected_html_1 = " selected ";
                            }
                            rack_number_html += "<option value='" + idc[k_2]['id'] + "' " + selected_html_1 + ">" + idc[k_2]['idc_name'] + "</option>";
                        }
                        $("#rack_number").html(rack_number_html)
                    }//rack_number

                    if (key == 'owner_group') {
                        var ower_group_html = '';
                        //alert(server_group);
                        for (var k_3 in server_group) {
                            selected_html_3 = "";
                            if (server_group[k_3]['id'] == result[key]) {
                                selected_html_3 = " selected ";
                            }
                            ower_group_html += "<option value='" + server_group[k_3]['id'] + "' " + selected_html_3 + ">" + server_group[k_3]['name'] + "</option>";
                        }
                        $("#owner_group").html(ower_group_html)
                    }//ower_group

                    if (key == 'server_type') {
                        //alert(server_type);
                        var server_type_html = '';
                        for (var k_4 in server_type) {
                            selected_html_4 = "";
                            if (server_type[k_4]['id'] == result[key]) {
                                selected_html_4 = " selected ";
                            }
                            server_type_html += "<option value='" + server_type[k_4]['id'] + "' " + selected_html_4 + ">" + server_type[k_4]['name'] + "</option>";
                        }
                        //console.log(server_type_html)
                        $("#server_type").html(server_type_html)
                    }//server_type
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });

    //////////////////////server info list function start
    $(".btn-warning.view").click(function () {
        var id = $(this).data("view");
        $.ajax({
            type: "get",
            url: "/getServerById/?id=" + id,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {

                var result = data['result'];
                var idc = data['idc'];
                var room = data['room'];
                var server_group = data['owner_group'];
                var server_type = data['server_type'];
                var network = data['network'];
                for (var key in result) {
                    $("#view_" + key).val(result[key]);
                    if (key  == 'change_time')
                    {
                        var timestamp3 = result[key];
                        var newDate = new Date();
                        newDate.setTime(timestamp3 * 1000);
                        var new_time = newDate.format('yyyy-MM-dd h:m:s');
                        $("#view_" + key).val(new_time);
                    }//change_time

                    if (key == 'switch_name') {
                        var network_name_html = '';
                        for (var k_1 in network) {
                            network_selected_html = "";
                            if (network[k_1]['id'] == result[key]) {
                                network_selected_html = " selected ";
                            }
                            network_name_html += "<option value='" + network[k_1]['id'] + "' " + network_selected_html + ">" + network[k_1]['device_name'] + "</option>";
                        }
                        $("#view_switch_name").html(network_name_html)
                    }//switch_name

                    if (key == 'idc_name') {
                        var idc_name_html = '';
                        for (var k in room) {
                            selected_html = "";
                            if (room[k]['id'] == result[key]) {
                                selected_html = " selected ";
                            }
                            idc_name_html += "<option value='" + room[k]['id'] + "' " + selected_html + ">" + room[k]['room_name'] + "</option>";
                        }
                        $("#view_idc_name").html(idc_name_html)
                    }//rack_number
                    if (key == 'rack_number') {
                        var rack_number_html = '';
                        for (var k in idc) {
                            selected_html_1 = "";
                            if (idc[k]['id'] == result[key]) {
                                selected_html_1 = " selected ";
                            }
                            rack_number_html += "<option value='" + idc[k]['id'] + "' " + selected_html_1 + ">" + idc[k]['idc_name'] + "</option>";
                        }
                        $("#view_rack_number").html(rack_number_html)
                    }

                    if (key == 'owner_group') {
                        var ower_group_html = '';
                        //alert(server_group);
                        for (var k_3 in server_group) {
                            selected_html_3 = "";
                            if (server_group[k_3]['id'] == result[key]) {
                                selected_html_3 = " selected ";
                            }
                            ower_group_html += "<option value='" + server_group[k_3]['id'] + "' " + selected_html_3 + ">" + server_group[k_3]['name'] + "</option>";
                        }
                        $("#view_owner_group").html(ower_group_html)
                    }//ower_group

                    if (key == 'server_type') {
                        //alert(server_type);
                        var server_type_html = '';
                        for (var k_4 in server_type) {
                            selected_html_4 = "";
                            if (server_type[k_4]['id'] == result[key]) {
                                selected_html_4 = " selected ";
                            }
                            server_type_html += "<option value='" + server_type[k_4]['id'] + "' " + selected_html_4 + ">" + server_type[k_4]['name'] + "</option>";
                        }
                        //console.log(server_type_html)
                        $("#view_server_type").html(server_type_html)
                    }//server_type
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });



</script>