{% include 'common/index-header.html' %}

{% include 'common/left_nav.html' %}

<section class="alert">
    <div>{{ add }}</div>
</section>

<section class="alert">
    <form method="get" action="#">
        <button class="btn btn-success">新建用户</button>
    </form>
</section>
<section class="content">
    <section class="widget">
        <header>
            <span class="icon">&#128196;</span>
            <hgroup>
                <h1>管理列员表</h1>
            </hgroup>
        </header>

        <div class="content" id="body">
              <script>
                  var page = getQueryString('p');
                  ajaxRequest("users",'ajax_users','get',{"p":page});
              </script>
        </div>
    </section>
</section>
{% load staticfiles %}

<form method = "post" action = "/new_users/"> {% csrf_token %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">编辑机柜</h1>
                </div>
                <input type="hidden" name="id" id="id" value="">
                <input type="hidden" name="editor" id="editor" value="1">
                <input type="hidden" name="editor_current_page" id="editor_current_page">
                <div class="field-wrap">
                    用户名称:<input type="text"  value="user name" id="user_name" name="user_name"/>
                </div>
                <div class="field-wrap">
                    用户密码:<input type="password" value="user passwd" id="user_passwd" name="user_passwd"/>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">更改</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="myModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel"><strong>确定删除编辑机柜?</strong></h1>
            </div>
            <input type="hidden" name="delete_id" id="delete_id">
            <input type="hidden" name="delete_current_page" id="delete_current_page">

            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-delete">删除</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}

<script type="text/javascript">

    $(".btn-danger.delete").click(function () {
        var rack_id = $(this).data("deleteid");
        var delete_page = $(this).data("page");
        $("#delete_id").val(rack_id);
        $("#delete_current_page").val(delete_page);
    });

    $(".btn-success.btn-delete").click(function () {
        $("#myModalDel").attr('aria-hidden', true);
        var id1 = $("#delete_id").val();
        var current_page = $("#delete_current_page").val();
        $.ajax({
            type: "get",
            url: "/deleteUsersById/?id=" + id1+"&p=" + current_page,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {
                alert(data['ret']);
                window.location.reload();
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });


    //////////////////////rack editor function start
    $(".btn-success.editor").click(function () {
        //alert("editor");
        var id = $(this).data("id");
        var curr_page = $(this).data("page");
        $("#editor_current_page").val(curr_page)
        $.ajax({
            type: "get",
            url: "/getUsersById/?id=" + id,
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, textStatus) {

                var result = data['result']
                var sel = data['sel']
                for (var key in result) {
                    if (key == 'start_time' || key == 'end_time') {
                        var timestamp3 = result[key];
                        var newDate = new Date();
                        newDate.setTime(timestamp3 * 1000);
                        result[key] = newDate.format("yyyy-MM-dd h:m:s");
                    }
                    $("#" + key).val(result[key]);
                    if (key == 'service_provider') {
                        var service_provider_html = '';
                        for (var k in sel) {
                            selected_html = "";
                            if (sel[k]['id'] == result[key]) {
                                selected_html = " selected ";
                            }
                            service_provider_html += "<option value='" + sel[k]['id'] + "' " + selected_html + ">" + sel[k]['Service_provider_name'] + "</option>";
                        }
                        $("#service_provider").html(service_provider_html)
                    }
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
                //HideLoading();
            },
            error: function () {
                //请求出错处理
            }
        });
    });
</script>
